


body {
}

ul {
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    align-content: flex-start;
    margin-left: 80px;
    text-decoration: none;

}




li {
    padding-right: 20px;
    list-style-type:none
}

article {
    margin-top: 180px;
    margin-left: 100px;
    width: 637.6px;
    height: 500px;
    flex-shrink: 0;
    display: inline-block;
    text-shadow: 2px 2px 4px #000000;

}

article p {
    color: #FFF;
    font-family: "Times New Roman";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article h1 {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0  ;
}



.buttonrezervace {
    background: white;
    width: 209px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-shadow: none;
}


.buttonrezervace:hover {
    background: black;
    color: white;
}



main {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-image: url(images/indexbackround.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw;
    height: 100vh;
}

.parent-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 200px;
}

.underarticle {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}



